In [1]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

## Data Preparation

In [2]:
df = pd.read_csv('harga_rumah.csv')
df.head()

,Unnamed: 0,index,kamar_tidur,luas_bangunan,luas_lahan,harga,Balikpapan Barat,Balikpapan Kota,Balikpapan Selatan,Balikpapan Tengah,Balikpapan Timur,Balikpapan Utara
0,0,4,4,306,251,2300000000,0,0,1,0,0,0
1,1,5,4,120,136,1750000000,0,0,1,0,0,0
2,2,6,2,157,65,650000000,0,0,0,0,1,0
3,3,7,3,78,100,900000000,0,0,0,0,0,1
4,4,8,3,120,90,760000000,0,0,0,0,0,1

In [3]:
df.drop('index', axis=1, inplace=True)
df.head()

,Unnamed: 0,kamar_tidur,luas_bangunan,luas_lahan,harga,Balikpapan Barat,Balikpapan Kota,Balikpapan Selatan,Balikpapan Tengah,Balikpapan Timur,Balikpapan Utara
0,0,4,306,251,2300000000,0,0,1,0,0,0
1,1,4,120,136,1750000000,0,0,1,0,0,0
2,2,2,157,65,650000000,0,0,0,0,1,0
3,3,3,78,100,900000000,0,0,0,0,0,1
4,4,3,120,90,760000000,0,0,0,0,0,1

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,kamar_tidur,luas_bangunan,luas_lahan,harga,Balikpapan Barat,Balikpapan Kota,Balikpapan Selatan,Balikpapan Tengah,Balikpapan Timur,Balikpapan Utara
0,4,306,251,2300000000,0,0,1,0,0,0
1,4,120,136,1750000000,0,0,1,0,0,0
2,2,157,65,650000000,0,0,0,0,1,0
3,3,78,100,900000000,0,0,0,0,0,1
4,3,120,90,760000000,0,0,0,0,0,1

In [5]:
X = df.drop(['harga'], axis=1)
y = df.harga

In [6]:
X.head()

,kamar_tidur,luas_bangunan,luas_lahan,Balikpapan Barat,Balikpapan Kota,Balikpapan Selatan,Balikpapan Tengah,Balikpapan Timur,Balikpapan Utara
0,4,306,251,0,0,1,0,0,0
1,4,120,136,0,0,1,0,0,0
2,2,157,65,0,0,0,0,1,0
3,3,78,100,0,0,0,0,0,1
4,3,120,90,0,0,0,0,0,1

In [8]:
y.head()

0    2300000000
1    1750000000
2     650000000
3     900000000
4     760000000
Name: harga, dtype: int64

Spltting the data into training and testing set

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
len(X_train), len(X_test), len(y_train), len(y_test)

(261, 66, 261, 66)

## Creating the model

In [11]:
model0 = LinearRegression()
model0.fit(X_train, y_train)
model0.score(X_test, y_test)

0.6874982983303382

In [12]:
param_grid = {
    'fit_intercept': [True, False],
}

grid_search = GridSearchCV(estimator=model0, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)

# Fit the grid search to the data
grid_search.fit(X_train, y_train)

# Get the best parameters and the best model
best_model0 = grid_search.best_estimator_
best_model0.fit(X_train, y_train)
best_model0.score(X_test, y_test)

0.6874982983303382

In [13]:
model1 = Ridge()
model1.fit(X_train, y_train)
model1.score(X_test, y_test)

0.686248943338042

In [14]:
model2 = Lasso()
model2.fit(X_train, y_train)
model2.score(X_test, y_test)

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.405e+19, tolerance: 5.971e+16
  model = cd_fast.enet_coordinate_descent(

0.6778531785213698

In [15]:
model3 = RandomForestRegressor()
model3.fit(X_train, y_train)
model3.score(X_test, y_test)

0.7288929108657574

In [16]:
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(model3, param_grid, scoring='neg_mean_squared_error', cv=5)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_rf_model = grid_search.best_estimator_

In [17]:
best_params, best_rf_model

({'max_depth': 20,
  'min_samples_leaf': 1,
  'min_samples_split': 2,
  'n_estimators': 200},
 RandomForestRegressor(max_depth=20, n_estimators=200))

In [18]:
model4 = best_rf_model
model4.fit(X_train, y_train)
model4.score(X_test, y_test)

0.7301307279853212

In [19]:
pickle.dump(model4, open('model.pkl', 'wb'))